<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarihte Bugün</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 
    <div class="btn exit" id="app-exit">GİZLE</div>
    <div class="btn btn-title">BİLGİ PENCERESİ</div>  
    <div id="message-of-day-box">   
        <div id="settings"></div>
        <div id="settings-menu" style="display: none;">
            <ul >
                <li id="menu-header">Okul Türü Seçin</li>
                <li id="menu-item-ilkokul" class="menu-item">İlkokul</li>
                <li id="menu-item-ortaokul" class="menu-item">Ortaokul</li>
                <li id="menu-item-lise" class="menu-item">Lise</li>
            </ul>
            
            <label style="font-size: .5em;"  id="timeout-label" >Zaman Aşımı</label><br>
            <input type="range" name="timeout" id="timeout" min="1" max="120"> 
        </div>
    </div> 
</body>
<script src="index.js"></script>
</html>