html, body{
    font-family: monospace;
    background-color: rgba(2, 64, 99, 0.75);  
    font-size: 1em 
    
}

#message-of-day-box{
    font-size: 16px;
    font-weight: bold;
    border: 5px solid;
    border-color: rgb(4, 48, 91);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.719);

}

.btn{ 
    font-size: 1em; 
    color: rgba(255, 255, 255, 0.692);
    text-align: center;
    line-height:2em;
    height: 32px;
    border: 5px solid;
    position: absolute; 
    z-index: 10;
    font-family: sans-serif;
    font-weight: bold;
}

.btn.exit{
    left: 0px;
    border-color:rgb(58, 101, 40);
    background-color: rgb(82, 132, 60);
    border-left:0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100px;
    cursor: pointer;
}
.btn.btn-title{
    right: 0px;
    border-color: rgb(141 143 147);
    background-color: rgb(167 169 171);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: 0px;
    width: 200px;
    box-shadow: none;
}
.btn.date-now{
    right: 0px;
    top:100px;
    border-color:rgb(72, 92, 128);
    background-color: rgb(56, 74, 107);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right:0px;
    width: 300px;
}

#settings{
    position: absolute;
    height: 64px;
    width: 64px;
    background-image: url(settings.png);
    background-size: 50%;
    background-repeat: no-repeat;
    bottom: 0px;
    right: 0px;
    background-position: center;
    cursor: pointer;
    z-index: 99;
}

#settings-menu{
    border: 1px solid;
    border-color: rgb(163, 180, 155); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.719); 
    box-shadow: -2px 2px 4px 0px rgb(0 0 0 / 49%);
    overflow: auto;
}

#settings-menu ul{
    list-style-type: none;
    font-size: .7em;
    margin-top: 0;
}

#settings-menu .menu-header{
    margin-left: -30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 3px 3px 3px 30px; 
    background-color: rgb(221 221 221); 
}

 

#settings-menu .menu-item{
    margin-left: -30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 3px 3px 3px 30px; 
    background-color: ivory;
    cursor: pointer;
    
}

#settings-menu .setting-item{
    margin-left: -30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 3px 3px 3px 30px; 
    background-color: ivory;
    cursor: pointer;
    
}



#settings-menu #timeout-label{
    font-size: .7em;
}

